<h2 class="title ui-border-b" >
    填电子档案
    <a href="#/view2/zhengjian" class="title-btn-r">修改</a>
</h2>
<div class="view" id="generalView">
    <div class="ui-tips ui-tips-info ">
        <i></i>请填写真实信息以保证顺利完成身份认证。
    </div>
    <h3 class="note">个人信息</h3>
    <div class="ui-form ui-border-t">
        <form action="#">
            <div class="ui-form-item ui-border-b">
                <label for="#">姓名</label>
                <input type="text" placeholder="请输入您的姓名" ng-model="zhengjian.name">
                <a href="#" class="ui-icon-close"></a>
            </div>
            <div class="ui-form-item ui-form-item-link ui-border-b" id="idType" ng-click="editZhengjian()">
                <label for="#">证件类型</label>
                <input type="text" placeholder="请选择您的证件类型" readonly ng-model="zhengjian.type">
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">证件号码</label>
                <input type="text" placeholder="请输入您的证件号码" ng-model="zhengjian.number">
                <a href="#" class="ui-icon-close"></a>
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">性别</label>
                <input type="text" placeholder="女" ng-model="zhengjian.sex">
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">出生日期</label>
                <input type="text" placeholder="1994-01-05" ng-model="zhengjian.born">
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">联系号码</label>
                <input type="text" placeholder="15000819123" ng-model="zhengjian.tel">
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">电子邮箱</label>
                <input type="text" placeholder="igo903@hotmail.com" ng-model="zhengjian.email">
            </div>
        </form>
    </div>
    <h3 class="note">学籍信息</h3>
    <div class="ui-form ui-border-t">
        <form action="#">
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">学校</label>
                <input type="text" placeholder="武汉市第二中学" readonly ng-model="zhengjian.school">
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">年级</label>
                <input type="text" placeholder="高一" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">班级</label>
                <input type="text" placeholder="一班" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">入学年份</label>
                <input type="text" placeholder="2014" readonly>
            </div>
        </form>
    </div>
    <h3 class="note">监护人信息</h3>
    <div class="ui-form ui-border-t">
        <form action="#">
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">姓名</label>
                <input type="text" placeholder="李云迪" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">称谓</label>
                <input type="text" placeholder="父亲" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">证件类型</label>
                <input type="text" placeholder="身份证" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">证件号码</label>
                <input type="text" placeholder="420107198800000000" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">联系号码</label>
                <input type="text" placeholder="13616517299" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">所在地区</label>
                <input type="text" placeholder="武汉市武昌区" readonly>
            </div>
            <div class="ui-form-item ui-form-item-show ui-border-b">
                <label for="#">详细地址</label>
                <input type="text" placeholder="水果湖路特1号" readonly>
            </div>
        </form>
    </div>
</div>
