<h2 class="title ui-border-b">
    填证件类型
    <a href="javascript:;" class="title-btn-r" ng-click="confirm()">确认</a>
</h2>

<div class="view" id="idTypeView">
    <ul class="ui-list ui-list-text ui-list-active ui-border-tb" ng-repeat="type in typeList">
        <li class="ui-border-t "
            ng-click="chooseZj(type)"
            ng-class="{
            'ui-form-item-link' : type == zhengjian.type,
            'selected': type == zhengjian.type
            }">
            <p>{{type}}</p>
        </li>
    </ul>
</div>
